<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>alkewallet_mvc</display-name>
  
  	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/ValidarLogin</url-pattern>
	</servlet-mapping>
  
    <servlet>
	  <servlet-name>s2</servlet-name>
	  <servlet-class>controller.CuentaController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s2</servlet-name>
	  <url-pattern>/viewAllCuentas</url-pattern>
  </servlet-mapping>

  <servlet>
	  <servlet-name>s3</servlet-name>
	  <servlet-class>controller.NuevaCuentaController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s3</servlet-name>
	  <url-pattern>/NuevaCuenta</url-pattern>
  </servlet-mapping>
  
    <servlet>
	  <servlet-name>s4</servlet-name>
	  <servlet-class>controller.FormDepositoCuentaController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s4</servlet-name>
	  <url-pattern>/FormRealizarDeposito</url-pattern>
  </servlet-mapping>

    <servlet>
	  <servlet-name>s5</servlet-name>
	  <servlet-class>controller.DepositoCuentaController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s5</servlet-name>
	  <url-pattern>/RealizarDeposito</url-pattern>
  </servlet-mapping>


 
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>